<div class="container">
    <div class="row ">
        <div class="col title-detail mt-5">
            Indonesia International Marathon
            
        </div>
    </div>
    <div class="row container-content-image">
        <div class="col-md-8">
            <div class="content-image" (click)="open(0)">
                <img class="img-detail" src="https://www.innagroup.co.id/storage/hotel/grand-inna-bali-beach/pendawa-pool.jpg" />
            </div>
        </div>
        <div class="col-md-4 container-image-item "> 
            <div class="content-image-item">
                <img class="img-detail" src="https://www.innagroup.co.id/storage/hotel/grand-inna-bali-beach/pool-view.jpg" (click)="open(1)" />
            </div>
            <div class="item-bottom content-image-item">
                <img class="img-detail" src="https://www.innagroup.co.id/storage/hotel/inna-bali-beach-resort/banner.jpg" (click)="open(2)" />
            </div>
        </div>
    </div>
    <div class="row container-content">
        <div class="col-md-12">
            <div class="title-content-detail">
                Sanur, Bali
            </div>
            <div class="content-about">
                Bali dipilih sebagai tempat penyelenggaraan Indonesia International Marathon pertama yang akan digelar pada 26 Juni 2022, salah satu destinasi wisata terbaik di dunia. Dikenal dengan julukan Pulau Dewata, Bali menawarkan sensasi perpaduan alam yang indah dengan budaya adat istiadat yang menarik dan khas. Suguhan pesona alam tropis yang eksotis dan perhelatan akbar yang mengadopsi seri maraton paling terkenal di dunia menjadi sebuah daya tarik tersendiri. Bali telah siap menyambut Anda, bergabunglah bersama ribuan pelari, wisatawan, dan media dari berbagai penjuru dunia.<br><br>
                Dapatkan penawaran khusus untuk paket transportasi dan akomodasi dari Grand Inna Bali Beach, Sanur, Bali, untuk peserta Indonesia International Marathon 2022.<br><br>
                Trek<br>
                Mengambil titik start dan finish di Grand Inna Bali Beach, Sanur, Bali, trek jalan raya ini akan melewati beberapa landmark terkenal dan titik wisata paling populer di Bali. Selain trek yang menerapkan standar yang ditetapkan World Athletics-AIMS, kondisi geografis dan iklim yang menguntungkan di bulan Juni akan memberikan kesempatan kepada pelari untuk menorehkan prestasi terbaiknya.
            </div>
        </div>
    </div>
</div>
