.container {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.container-detail {
  margin-top: 120px;
  padding-left: 20px;
}

.title-detail {
  font-size: 1.7rem;
  font-weight: 700;
  color: #585858;
}

.card {
  border: none;
  cursor: pointer;
}

.card-tikect-type {
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  margin-bottom: 20px;
}

.title-content-detail {
  font-size: 1.3rem;
  font-weight: 500;
  color: #585858;
}

.hours_desc {
  font-weight: 500;
}

.container-content-image {
  margin-top: 30px;
}

.content-image {
  height: 500px;
  border-radius: 8px;
}

.content-image-item {
  height: 240px;
  border-radius: 8px;
}

.img-detail {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-image-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-content {
  margin-top: 30px;
}

.title-content-detail {
  font-size: 1.3rem;
  font-weight: 500;
  color: #585858;
}

.content-about {
  margin-top: 20px;
  padding-right: 20px;
  color: #b0b0b0;
  font-size: 1rem;
}

.card-opening-hour {
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  height: 430px;
}

.container-opening {
  margin-top: 20px;
}

.container-avaliable {
  margin-left: 10px;
  font-weight: 500;
}

.icon-fasilitas {
  margin-top: 15px;
}
