<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light" id="header-navbar" >
        <div class="container">
            <img routerLink="/" class="icon_logo" src="/assets/logo/jelajahin.jpg" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='home'}" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='about-us'}" routerLink="/about-us">About Us</a>
              </li>
              
	      <li class="nav-item"ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='borobudur'}" href="#" (click)="false" ngbDropdownToggle>Tiket MotoGP</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem (click)="toId('daily-pass')">Day Pass</button>
		              <button ngbDropdownItem (click)="toId('general-admission')">General Admission</button>
                  <button ngbDropdownItem (click)="toId('premium-grandstand-a')">Premium Grandstand A</button>
                  <button ngbDropdownItem (click)="toId('premium-grandstand-bjk')">Premium Grandstand B/J/K</button>
                  <button ngbDropdownItem (click)="toId('standard-grandstand')">Standard Grandstand</button>
                  <div class="dropdown-divider"></div> 
                  <button ngbDropdownItem (click)="toId('weekend-pass')">Weekend Pass</button>
		  <button ngbDropdownItem (click)="toId('hospitality-pass')">Hospitality Class (3 Days)</button>
		  <button ngbDropdownItem (click)="toId('4d3n-pass')">4D3N MotoGP Package</button>
		  
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='desa-lombok'}" href="#" >Desa Wisata Lombok
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='hotel'}" href="#">Hotel</a>
              </li>
	            <li class="nav-item"ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='thingstodo'}" href="#" (click)="false" ngbDropdownToggle>Things To Do</a>
                <div ngbDropdownMenu>
                  <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
                    <a ngbDropdownToggle class="dropdown-item dropdown-toggle"
                       (click)="false">Bali <span class="caret"></span></a>
                    <ul ngbDropdownMenu class="sub-menu dropdown-menu" role="menu">
                      <li class="dropdown-item">
                        <a>Bali Zoo</a>
                      </li>
                      <li class="dropdown-item">
                        <a>Bali Zoo Internasional</a>
                      </li>
                      <li class="dropdown-item">
                        <a>Uluwatu Kecak</a>
                      </li>
                    </ul>
                  </li>
                  <button ngbDropdownItem (click)="toId('jogja')">Jogjakarta</button>
                  <button ngbDropdownItem (click)="toId('labuanbajo')">Labuan Bajo</button>
                  <button ngbDropdownItem (click)="toId('mandalika')">Mandalika</button>
                  <button ngbDropdownItem (click)="toId('danautoba')">Danau Toba</button>
		  
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " (click)="toFooter()" [ngClass]="{'nav-link-active': place==='footer'}" routerLink="/">Contact Us</a>
              </li> 
              
            </ul>
          </div>
          
        </div>
      </nav>
</header>
