<div>
    <div class="banner">
        <img src="../../../assets/image/news-banner.jpg" class="bg">
    </div>
    <div class="news-detail">
        <div class="title">PT HIN (Persero) Hadir untuk Pariwisata Indonesia</div>
        <div class="body">
            <div>
                <div class="box-news">
                    <p><p style="text-align: justify;">Sesuai misi PT Hotel Indonesia Natour (Persero) untuk mendukung pengembangan industri pariwisata daerah maupun kepariwisataan Indonesia pada umumnya, maka seluruh unit atau hotel PT Hotel Indonesia Natour (Persero) yang berada di berbagai kota di Indonesia senantiasa aktif melaksanakan program dan kegiatan yang dapat memberi dampak pada peningkatan dan pertumbuhan industri wisata.</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">Salah satu strategi yang dilaksanakan oleh PT Hotel Indonesia Natour (Persero) adalah dengan mengangkat aspek kearifan lokal yang menjadi daya tarik dan dapat memengaruhi wisatawan untuk mendapatkan pengalaman yang berbeda dan ingin lebih mengenal lebih jauh berbagai budaya dan kearifan lokal yang berbeda antara satu daerah dengan daerah lainnya. Begitu pula dengan di Padang, Sumatra Barat.</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">Sumatra Barat dan Padang selama ini sangat dikenal sebagai salah satu daerah tujuan wisata yang memiliki seni, budaya, dan kuliner yang sangat khas dan menjadi daya tarik bagi wisatawan dalam dan luar negeri.</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">&ldquo;Beberapa contoh kegiatan yang hingga saat ini telah kami laksanakan dalam mendukung pengembangan wisata di Sumatra Barat antara lain penyelenggaraan event Padang KulineRun yang menggabungkan kegiatan olahraga dan wisata kuliner, mendukung event tahunan Tour de Singkarak, menampilkan berbagai budaya dan kesenian daerah/Minangkabau dalam eventevent yang kami laksanakan, hingga penerapan ornamen di berbagai sarana dan fasilitas di hotel Grand Inna Padang,&rdquo; ujar Iswandi Said, Direktur Utama PT Hotel Indonesia Natour (Persero).</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">Selain berbagai langkah dan program yang dilakukan untuk lebih memperkenalkan daya tarik yang dimiliki Sumatra Barat tersebut, secara khusus PT Hotel Indonesia Natour (Persero) mengembangkan Grand Inna Padang sebagai hotel yang memiliki ballroom terbesar sehingga sangat tepat untuk pelaksanaan kegiatan MICE (meeting, incentives, conference,and exhibition). Dengan demikian, selain merupakan destinasi wisata, kota Padang juga akan menjadi pusat MICE di Sumatra Barat. &ldquo;Kami turut gembira, melalui program, kegiatan, dan event-event yang kami laksanakan sejauh ini telah membawa dan memberikan dampak yang positif sejalan langkah pengembangan industri wisata di Sumatera Barat pada umumnya dan di Padang pada khususnya,&rdquo; ujar Iswandi Said. Selain memiliki standar layanan dan hospitality sesuai yang telah ditetapkan, hotel-hotel milik PT Hotel Indonesia Natour (Persero) juga memiliki diferensiasi sesuai kearifan lokal di mana hotel tersebut berada atau beroperasi. Sebagai contoh, Grand Inna Malioboro di Yogyakarta dan Grand Inna Bali Beach sangat dikenal sebagai &ldquo;Heritage Hotel&rdquo; yang menyimpan dan kaya akan nilainilai sejarah. Atau hotel di Prapat (Inna Prapat) merupakan hotel yang memiliki pemandangan yang sangat indah, di mana kawasan Danau Toba akan dikembangkan sebagai kawasan wisata yang dikenal sebagai &ldquo;Monaco of Asia&rdquo;.</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;"><strong>Momentum Ulang Tahun HIN</strong></p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">Perjalanan PT Hotel Indonesia Natour (Persero) tidak dapat dipisahkan dengan perjalanan sejarah negara dan bangsa Indonesia. Sebagai hotel berbintang Indonesia pertama yang didirikan langsung dan oleh Presiden pertama Soekarno, Hotel Indonesia merupakan landmark dan etalase serta &ldquo;wajah Indonesia&rdquo;. Pada Agustus 2019, Hotel Indonesia merayakan ulang tahunnya yang ke-57.</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">&ldquo;Peringatan ulang tahun selalu merupakan momentum yang penting dalam perjalanan yang kita lakukan, mengingat melalui kesempatan peringatan ulang tahun kita dapat melakukan evaluasi atas berbagai hal yang telah kita capai sejauh ini, dan merencanakan langkah dan program yang akan kita laksanakan ke depan,&rdquo; ujar Iswandi Said. Sejalan dengan perkembangannya hingga saat ini, PT Hotel Indonesia Natour (Persero) dan Hotel Indonesia Group (HIG) memiliki tanggung jawab untuk terus mengembangkan diri agar dapat menjadi jaringan hotel Indonesia berstandar internasional yang mengedepankan layanan dengan keramahtamahan khas Indonesia, yang kompetitif, profitable, dan sustainable.</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">&nbsp;</p>		
                    </div>
            </div>
        </div>
    </div>
    <div class="news-more">
        <div class="row">
            <div class="col-md-6" >
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-list" src="../../../assets/image/news01.jpg">
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="title">HIN Internalisasi AKHLAK sambut New Normal & Holding Hotel BUMN </div>
												            											<div class="button-box">
							<a href="https://www.innagroup.co.id/news/hin-internalisasi-akhlak-sambut-new-normal--holding-hotel-bumn" class="button is-mybutton is-readmore">Read More</a>	
						</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-list" src="../../../assets/image/news02.jpg">
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="title">Virtual Tour</div>
												            											<div class="button-box">
							<a href="https://www.innagroup.co.id/news/virtual-tour" class="button is-mybutton is-readmore">Read More</a>	
						</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news-footer">
        <div class="row" style="text-align: center;">
            <div class="col-md-4">
                <a href="https://bumn.go.id/">
                <img class="img-logo" src="../../../assets/logo/logo-bumn.png">

                </a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <a href="https://injourney.id/">
                <img class="img-logo" src="../../../assets/logo/logo-injourney.png">

                </a>
            </div>
        </div>
    </div>
</div>
