.container-success-payment{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.card{
    padding:20px;
    display: flex;
    align-items: center;
}

.icon-success{
    width: 250px;
    height: 250px;
}

.status-success{
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-orange{
    background-color: #FE634E;
    color: white;
}

.back-home{
    color: #FE634E;
    text-decoration: underline;
}