@import '/src/styles.scss';

.img-slide{
    width: 100%;
    object-fit: cover;
    height: 40rem;
    z-index: 1;
}

.text-title{
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FE634E;
}

.sub-text-title{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FE634E;
}

.container-card{
    margin-top: 30px;
}

.btn-prev{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    margin-top: 150px;
    margin-left: -70px;

}

.btn-next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    right: 340px;
    margin-top: 150px;
}


