<div class="container">
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Email
    </div>
    <div  [innerHTML]="email">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Penginapan
    </div>
    <div  [innerHTML]="penginapan">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Nama Penginapan
    </div>
    <div  [innerHTML]="nama_penginapan">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        No Pemilik Penginapan
    </div>
    <div  [innerHTML]="no_pemilik">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Alamat Penginapan
    </div>
    <div  [innerHTML]="alamat_pemilik">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Longtitude Langtitude
    </div>
    <div  [innerHTML]="longlat">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Kabupaten Kota
    </div>
    <div  [innerHTML]="kabkot">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Kecamatan
    </div>
    <div  [innerHTML]="kecamatan">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Jumlah Kamar Dengan AC
    </div>
    <div  [innerHTML]="jumlah_kamar_ac">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Jumlah Kamar Non AC
    </div>
    <div  [innerHTML]="jumlah_kamar_non_ac">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Harga Per Kamar Per Malam (AC)
    </div>
    <div  [innerHTML]="harga_ac">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Harga Per Kamar Per Malam (Non AC)
    </div>
    <div  [innerHTML]="harga_non_ac">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Tempat Tidur Dalam Satu Kamar
    </div>
    <div  [innerHTML]="tempat_tidur">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Kamar Mandi 
    </div>
    <div  [innerHTML]="kamar_mandi">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Tipe Toilet Kamar Mandi 
    </div>
    <div  [innerHTML]="tipe_toilet">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Fasilitas
    </div>
    <div  [innerHTML]="fasilitas">
    </div>
    <div style="font-size: 18px;font-weight: 500;margin-top: 20px;">
        Atraksi
    </div>
    <div  [innerHTML]="atraksi">
    </div>
    
    <div>
        <button type="submit" class="btn btn-primary mt-3 " (click)="backToHome()">Back to Home</button>
    </div>
</div>
